body {
    margin: 0px;
    overflow-x: hidden;
    font-family: 'Nunito Sans', normal;
    font-weight: 400;
}

section {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Yeseva One', normal;
    font-weight: 400;
    color: #E3B873;
}

h4 {
    font-size: 18px;
}


.review-text-img {
    display: none;
}

.control-form-p-mobil {
    display: none;
}

.control-form-button-mobil {
    display: none;
}

.navigotor-map-img-mobil {
    display: none;
}

.mobil-block {
    display: none;
}



.button {
    text-decoration: none;
    width: 207px;
    height: 51px;
    border-radius: 2px;
    cursor: pointer;
    font-style: italic;
    font-style: normal;
}




/* header */


.head {
    background-color: #131313;
    width: 100vw;
    height: 83px;
    display: flex;
    position: fixed;
    z-index: 100;
}

.container {
    width: 1263px;
    margin: 0 auto;
}

.info {
    display: flex;
    font-size: 10px;
    align-items: center;

}

.name-comp {
    color: #E3B873;
    text-decoration: none;
}


.spisk {
    width: 700px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;

}

.spisk-a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 11px;
    cursor: pointer;
}

.spisk-a:hover {
    color: #E3B873;

}

.tel {
    color: #E3B873;
    margin-left: 67px
}



.button-nav {
    color: white;
    background: #E3B873;
    margin-left: 45px;
    border: 0;
}

.button-nav:hover {
    background: none;
    border: 2px;
    border-color: #E3B873;
    border-style: solid;
}

/* section 1*/

.main {
    background: url(./images/section-1/images-face.jpg) center center no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.black-out {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.main-container {
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    height: 100%;
}

.main-container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1100px;
    z-index: 50;

}

.text {
    font-size: 22 px;
    margin-top: 41px;
    margin-bottom: 0px;
    line-height: 36px;
}

.h1 {
    font-size: 40px;
    line-height: 53px;
    margin: 0;
    color: white;
}

.span-h1 {
    color: #E3B873;
}

.button-wra {
    margin-top: 41px;
}

.button-calculate {
    color: white;
    background: #E3B873;
    border: 0;
}

.button-calculate:hover {
    background: transparent;
    border: 2px;
    border-color: #E3B873;
    border-style: solid;
}

.button-submi {
    color: white;
    background: transparent;
    border: 2px;
    border-color: #ffffff;
    border-style: solid;
    margin-left: 20px;
}

.button-submi:hover {
    background: #E3B873;
    border: 0;
}

/*section 2*/

.review {
    display: flex;
    background: black;
    height: 1074px;
    justify-content: center;
}

.review-p {
    color: white;
}

.review-text-h2 {
    color: #E3B873;
    margin-top: 0px;
    font-size: 27px;
}

.review-text-h3 {
    color: #E3B873;
    font-size: 18px;
}


.review-text {
    height: 500px;
    margin-top: 176px;
    margin-left: 132px;
}


.review-text-block1 {
    display: flex;
}

.review-text-city {
    width: 200px;
    height: 150px;
}

.review-text-area {
    width: 200px;
    height: 150px;
}

.review-text-block2 {
    display: flex;
}

.review-text-time {
    width: 200px;
    height: 150px;
}

.review-text-cost {
    width: 200px;
    height: 150px;
}

.review-photo {
    height: 700px;
    margin-left: 50px;
    margin-top: 106px;
}


.review-nav-ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    justify-content: space-between;
    font-size: 14px;
    font-family: 'Yeseva One', normal;
}

.review-nav-li:last-child {
    margin-right: 60px;
}

.review-nav-a {
    color: rgba(255, 255, 255, .3);
    text-decoration: none;
}

.review-nav-a:hover {
    color: #E3B873;
    cursor: pointer;
    text-decoration: underline;
}

.review-images {
    width: 679px;
    height: 482px;
    margin: 52px 0px 92px 0px;
}



/* section 3 */


.control {
    margin-top: -298px;
    display: flex;
    justify-content: center;
}

.control-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.control-h3 {
    display: flex;
    justify-content: center;
    color: white;
}

.control-body-div-svg {
    z-index: 10;
    width: 85px;
    height: 85px;
    position: absolute;
    margin-top: 175px;
}

.control-play-radius {
    position: absolute;
    width: 85px;
    height: 85px;
    border-radius: 50px;
    background-color: #E3B873;
    margin-top: 175px;
}

.control-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 31px;
}

.control-logo-line {
    width: 32px;
    height: 2px;
    background-color: #E3B873;
    margin-top: 14px;
}

.control-logo-img {
    margin: 0px 10px;
}

.control-body-div {
    display: flex;
    justify-content: center;
}

.control-separation {
    display: flex;
    justify-content: center;
    margin-top: 62px;
    margin-bottom: 34px;
}

.hr123 {
    width: 55px;
    height: 1.5px;
    background-color: #E3B873;
    border: 0;
    border-radius: 30px;
}

.control-form-div {
    margin-top: 93px;
}

.control-form {
    display: flex;
    justify-content: space-between;
    width: 750px;
}

.control-form-p {
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    text-align: center;
}

.control-form-name {
    border: 0;
    border-bottom: 1px solid black;
}

.control-form-number {
    border: 0;
    border-bottom: 1px solid black;
}

.control-form-button {
    border: 0;
    background-color: #E3B873;
    color: white;
    text-transform: uppercase;
    font-style: normal;
}

.control-checkbox-c {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.control-label {
    cursor: pointer;
}

.checkbox-c {
    display: none;
}

.fake-c {
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}

.fake-c::before {
    content: "\2714";
    opacity: 0;
    transition: .2s;
}

.checkbox-c:checked+.fake-c::before {
    opacity: 1;
}


/* section 4 */


.control-sample {
    height: 810px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
}

.control-simple-div-h3 {
    display: flex;
    justify-content: center;
}

.control-sample-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 31px;
    margin: 0px;
}

.control-sample-line {
    width: 32px;
    height: 2px;
    background-color: #E3B873;
    margin-top: 14px;
}

.control-sample-img {
    margin: 0px 10px;
}

.control-sample-block {
    height: 700px;
    display: flex;
    justify-content: center;
    margin-top: 34px;
}

.control-sample-div {
    display: flex;
    justify-content: center;

}

.control-sample-all {
    width: 430px;
}

.control-sample-text {
    margin-top: -100px;
    margin-left: 31px;
    width: 330px;
    height: 300px;
    background-color: white;
    position: absolute;
}

.control-sample-h4 {
    margin-left: 20px;
    color: black;
    font-size: 18px;
}

.control-sample-li {
    color: #959595;
    line-height: 26px;
}

.control-sample-button {
    background-color: #E3B873;
    border: 0px;
    font-size: 18px;
    font-style: normal;
    color: white;
}

/* section 5 */

.order {
    position: relative;
    height: 1000px;
    display: flex;
    justify-content: center;
    width: 100%;
}


.order-benefits {
    width: 900px;
    height: 645px;
    background: url(./images/section-5/background-border.jpg) no-repeat;
    background-size: cover;
}

.benefits-list {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 80px;
}

.benefits-list-div {
    display: flex;
    margin-top: 90px;
}

.benefits-radius {
    width: 41px;
    height: 41px;
    background-color: #E3B873;
    border-radius: 30px;
    border: 8px solid;
    border-color: white;
    display: flex;
    justify-content: center;
}

.benefits-radius-p {
    color: white;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    margin-top: 7px;
}

.benefits-p {
    margin: 0;
    width: 400px;
    height: 39px;
}

.benefits-pa {
    margin-top: 7px;
}

.benefits-pb {
    margin-top: 18px;
}

.benefits-pc {
    margin-top: 18px;
}

.benefits-pd {
    margin-top: 7px;
}

.order-block {
    margin-top: 100px;
    width: 450px;
    height: 506px;
    background-color: black;
    display: flex;
    flex-direction: column;

}

.order-block-h4 {
    color: #FFFFFF;
    margin-top: 28px;
    text-align: center;
    width: 450px;
}

.order-block-size {
    width: 350px;
    margin: 40px 0px 0px 49px;
}

.order-block-p {
    color: #FFFFFF80;
    margin: 0 0 8px 0;
}

.order-block-form {
    width: 350px;
    border: 0;
    border-bottom: 1px solid #FFFFFF26;
    background-color: black;
    color: white;
}

.order-block-form::placeholder {
    color: white;
}

.order-checkbox {
    margin-top: 17px;
    margin-left: 49px;
}

/* order chekbox */

.label {
    cursor: pointer;
}

.checkbox {
    display: none;
}

.fake {
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}

.fake::before {
    content: "\2714";
    opacity: 0;
    transition: .2s;
}

.checkbox:checked+.fake::before {
    opacity: 1;
}

.text {
    color: white;
}


.order-button-div {
    height: 80px;
    margin-left: 200px;
    display: flex;
    align-items: flex-end;
}

.order-button {
    background-color: #E3B873;
    font-style: normal;
    color: white;
    font-size: 18px;
    font-weight: 400;
    border: 0;
}

.order-logo-pig {
    display: flex;
    margin-top: 35px;
}

.order-logo-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 40px;
    background-color: #E3B873;
}

.order-logo-img {
    margin: 0;
}

.order-logo-p {
    margin: 10px 0 0 10px;
    font-size: 18px;
    line-height: 25px;
    color: #E3B873;
}





/* section-6 */






.section-style {
    background: url(./images/section-6/fon.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
    height: 850px;

}

.style-contener {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.style-fon {
    background: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.style-contener-div {
    margin: 150px 120px 0 0;
}

.style-h4 {
    font-size: 28px;
}

.style-spisk-ul {
    list-style-type: none;
    padding: 0px;

}

.style-spisk-li-a {
    text-decoration: none;
    color: white;
    line-height: 38px;
}

.style-spisk-li-a:hover {
    color: #E3B873;
    text-decoration: underline;
}

.style-block {
    display: flex;
}

.style-block-one {
    width: 380px;
}

.style-block-one-clock {
    margin-top: -40px;
}

.style-block-one-badroom {
    margin-top: 20px;
}

.style-block-two {
    width: 330px;
}

.style-block-two-holl {
    margin-top: -120px
}

.style-block-two-table {
    margin-top: 20px;
}





/* section 7 */


.clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.clients-h3 {
    color: black;
    font-size: 20px;
}

.clients-p {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

.clients-block {
    margin: 0 40px 0 10px;
}

.clients-comment {
    width: 1150px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.clients-profil {
    display: flex;
}

.clients-foto {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.clients-h4 {
    color: black;
    margin-left: 20px;
}

.clients-profil-p {
    font-size: 14px;
    line-height: 23px;
    width: 350px;
    color: grey;
}

.clients-button {
    display: flex;
    background-color: #E3B873;
    border: 0px;
    color: white;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    width: 260px;
    height: 51px;
}

.clients-button-div {
    display: flex;
    margin: 7px 0 0 17px;
    width: 120px;
}

.clients-button-div-block {
    display: flex;
    margin: 7px 0 0 17px;
    width: 120px;
}

.button-line {
    width: 2px;
    height: 51px;
    background-color: white;
    margin: 0px;
}

.clients-button-p-m {
    margin-left: 17px;
}

.clients-button-p-d {
    margin-left: 10px;
}

.pict-button {
    margin: 0;
}

.section-fon {
    display: flex;
}

.section-fon-first {
    width: 720px;
    height: 430px;
    background: url(./images/section-7/fon-sectione-6-first.jpg) center center no-repeat;
}

.section-fon-two {
    width: 720px;
    height: 430px;
    background: url(./images/section-7/fon-sectione-6-two.jpg) center center no-repeat;
}

/* section 8 */



.navigotor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -75px;
    height: 910px;
    background: url(./images/section-8/bacground-two.jpg) center center no-repeat;
    background-size: cover;


}


.background-ton {
    width: 100%;
    height: 910px;
    background-color: rgba(0, 0, 0, .85);
    z-index: 10;
}



.navigot-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 15;
}

.navigotor-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    height: 400px;
    margin-top: -200px;
    background-color: black;
}

.nform-h4 {
    font-size: 20px;
    margin-top: 30px;
    color: white;
}

.nform-your {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.nform-p {
    color: grey;
    margin: 0;
}

.nform-your-div {
    width: 200px;
    margin-left: 40px;
}

.nform-input {
    border: 0;
    background-color: black;
    border-bottom: 1px solid grey;
    width: 100%;
    color: white;
}

.nform-div-question {
    width: 400px;
    margin-top: 40px;
}

.nform-question {
    border: 0px;
    background-color: black;
    border-bottom: 1px solid grey;
    width: 440px;
}

.nform-placeholder::placeholder {
    color: white;
}

.nform-label {
    margin-top: 40px;
}

.nform-button {
    margin-top: 30px;
    border: 0;
    background-color: #E3B873;
}

.nform-button-text {
    margin-top: 12px;
    color: white;
    font-style: normal;
}









.navigator-addres {
    text-align: center;
    size: 20px;
    line-height: 27px;
    margin-top: 52px;
}

.buttom-contact {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 0;
    background-color: #E3B873;
}

.navigotor-map {
    margin-top: 27px;
    margin-bottom: 60px;
}









.footer {
    width: 100vw;
    height: 130px;
    background-color: black;
    font-size: 11px;
}

.footer-info {
    display: flex;
    justify-content: center;
}

.footer-name-comp {
    margin-top: 53px;
    font-size: 10px;
    margin-left: 8px;
}

.footer-nav {
    margin-top: 43px;
    margin-left: -12px;

}

.footer-addres {
    margin-top: 35px;
    display: flex;
    align-items: center;
}

.tel {
    font-size: 11px;
}





@media screen and (max-width: 1300px) {

    .review-text-img {
        display: none;
    }

    .control-form-p-mobil {
        display: none;
    }

    .control-form-button-mobil {
        display: none;
    }

    .navigotor-map-img-mobil {
        display: none;
    }

    .mobil-block {
        display: none;
    }






    .container {
        width: 1000px;
    }

    .spisk {
        width: 470px;
    }

    .tel {
        width: 135px;
    }

    .review-nav-ul {
        width: 610px;
    }

    .review-images {
        width: 550px;
        height: 410px;
    }

    .spisk-a {
        margin: 0;
    }

    .control-sample-text {
        margin-left: 24px;
        width: 270px;
    }

    .control-sample-div {
        justify-content: space-between;
        width: 1000px;
        margin-left: 56px;
    }

    .sample-img {
        width: 300px;
        height: 370px;
    }

    .style-contener-div {
        margin: 100px 32px 0 45px;
    }

    .section-style {
        height: 815px;
    }


    .block-img {
        width: 90%;
    }

    .clients-comment {
        width: 1060px;
        margin-left: 30px;
    }

    .clients-block {
        margin: 0;
    }


    .footer-info {
        width: 1070px;
        margin: 0 auto;
    }

    .footer-name-comp {
        width: 100px;
    }

    .footer-addres {
        margin-left: 70px;
    }

    .footer-tel {
        margin-left: 10px;
    }

    .footer-button {
        width: 173px;
        margin-left: 20px;
    }
}



@media screen and (max-width: 1000px) {









    .container {
        width: 768px;
    }

    .info {
        justify-content: space-around;
    }

    .name-comp {
        font-size: 10px;
    }

    .tel {
        margin-left: 33px;
    }

    .info-button {
        display: none;
    }




    .main-h1 {
        text-align: center;
    }

    .main-text {
        text-align: center;
    }

    .button-wra {
        display: flex;
        justify-content: center;
    }

    .review {
        height: 930px;
    }

    .review-nav-a {
        font-size: 11px;
    }


    .review-text {
        width: 330px;
        margin-left: 0;
    }

    .review-nav-ul {
        width: 450px;
    }

    .review-nav-a {
        text-align: center;
    }

    .review-photo {
        margin-left: 10px;
        width: 380px;
    }

    .review-images {
        width: 100%;
        height: 40%;
    }



    .control-sample-all {
        width: 250px;
    }

    .sample-img {
        width: 210px;
        height: 250px;
    }

    .control-sample-text {
        width: 220px;
        margin-top: 48px;
    }

    .control-sample-li {
        font-size: 10px;
    }



    .benefits-list {
        font-size: 13px;
        margin-right: 20px;
    }

    .benefits-list-div {
        width: 290px;
    }

    .benefits-p {
        width: 200px;
    }


    .order-block {
        height: 545px;
    }

    .order-logo-pig {
        margin-left: 150px;
    }


    .section-style {
        height: 550px;
    }

    .style-contener-div {
        margin-top: 0px;
    }

    .sstyle-h4 {
        font-size: 20px;
    }

    .style-spisk-li {
        font-size: 13px;
    }

    .block-img {
        width: 100%;
    }

    .style-block-one {
        width: 200px;
        margin-right: 20px;
    }

    .style-block-one-clock {
        margin-top: -10px;
    }

    .style-block-two {
        width: 200px;
        margin-right: 20px;
    }

    .style-block-two-holl {
        margin-top: 30px;
    }

    .clients-comment {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .clients-block {
        margin: 0 0 40px 110px
    }

    .clients-profil-p {
        font-size: 11px;
    }



    .navigotor-map-img {
        width: 90%;
        margin-left: 40px;
    }




    .footer-info {
        width: 970px;
    }

    .footer-addres {
        margin-left: 0;
    }
}

@media screen and (max-width: 760px) {

    .button {
        margin: 0 auto;
    }

    .container {
        width: 370px;
    }

    .div-nav1 {
        display: none;
    }

    .h1 {
        font-size: 20px;
    }

    .button-wra {
        flex-direction: column;
    }

    .button-submi {
        margin-top: 30px;
    }



    
    .review {
        height: 1300px;
    }

    .review-text-img {
        display: block;
    }

    .review-photo {
        display: none;
    }

    .review-text {
        margin-top: 60px;
    }



    .control {
        background-color: black;
        z-index: 0;
        color: white;
    }


    .control-body-div-img {
        width: 45%;
    }

    .control-body-div-svg {
        margin-top: 45px;
    }

    .control-play-radius {
        margin-top: 52px;
        width: 65px;
        height: 65px;
    }

    .control-form-p {
        display: none;

    }

    .control-form-p-mobil {
        text-align: center;
        font-size: 11px;
        display: block;
    }

    .control-form-div {
        margin-top: 60px;
    }

    .control-form {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .control-form-pt {
        color: gray;
    }

    .control-form-name {
        background-color: black;
        border: 0;
        border-bottom: 1px solid gray;
        width: 340px;
    }

    .control-form-number {
        background-color: black;
        border: 0;
        border-bottom: 1px solid gray;
        width: 340px;
    }

    .control-form-button {
        display: none;
    }

    .control-form-button-mobil {
        background-color: #E3B873;
        margin: 30px 0 -20px 225px;
        color: white;
        border: 0;
        width: 300px;
        display: block;
    }

    .control-sample {
        height: 2150px;
        justify-content: flex-start;
    }

    .control-sample-div {
        width: 370px;
        margin-left: 0;
        flex-direction: column;
    }

    .sample-img {
        width: 350px;
        height: 400px;
        margin-left: 10px;
    }

    .control-sample-text {
        margin-left: 10px;
        margin-top: -100px;
    }

    .control-sample-all-mobil {
        margin-top: 260px;
    }





    .section-clients {
        display: none;
    }

    .section-style {
        display: none;
    }

    .order {
        display: none;
    }




    .mobil-block {
        position: relative;
        z-index: 20;
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobil-block-h4 {
        text-align: center;
    }

    .mobil-block-clock {
        margin-left: -5px;
    }





    .navigotor-map-img-mobil {
        display: block;
    }

    .navigotor {
        background: black;
    }

    .navigot-info {
        background: black;
        width: 100%;
    }

    .background-ton {
        display: none;
    }

    .navigotor-map {
        display: none;
    }

    .navigotor-form {
        position: absolute;
        margin-top: -45px;
        height: 600px;
    }

    .nform-h4 {
        margin-top: 200px;
    }

    .nform-your {
        flex-direction: column;
        width: 380px;
    }

    .nform-your-div {
        width: 380px;
        margin-left: 0px;
    }

    .nform-div-question {
        width: 380px;
    }

    .nform-question {
        width: 380px;
    }

    .navigator-addres {
        margin-top: 115px;
    }


    .navigotor-map-mobil {
        margin-top: 600px;
    }

    .navigotor-map-img {
        width: 100%;
        margin-left: -3px;
    }








    .footer {
        display: none;
    }


}